#contact {
  border: 1px solid var(--color-area);
  margin: 0 16px 16px 16px;
  height: 50vh;
}

.contact__table {
  color: white;
  font-size: var(--font-size-text);
}

.contact__table th {
  all:unset;
  display: table-cell;
  font-size: var(--font-size-tag);
  font-weight: bold;
  text-align: right;
  margin: 20px;
}

.contact__table td {
  all:unset;
  display: table-cell;
  font-size: var(--font-size-larger);
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.contact__table th::after {
  content: '';
  border-right: 1px solid #eee;
  margin: 15px;
}

.contact__table a {
  color: #60c940;
}