.intro {
  position: relative;
  background-image: url('../image/intro2.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.intro__back {
  position: absolute;
  top:0; bottom:0;
  left: 0; right: 0;
  text-align: center;
  background-color: rgba(0,0,20,0.5);
}

.intro__wave {
  position: absolute;
  width: 100%;
  top: 80%;
}

.intro__wave-one {
  position: absolute; 
  left: 0;
  top: 0;
  width: 3500px;
  height: 15vh; 
  background: rgba(255, 255, 255, 0.3);
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 10.26%, 1.00% 14.05%, 2.00% 19.77%, 3.00% 26.86%, 4.00% 34.62%, 5.00% 42.30%, 6.00% 49.14%, 7.00% 54.48%, 8.00% 57.78%, 9.00% 58.73%, 10.00% 57.24%, 11.00% 53.45%, 12.00% 47.73%, 13.00% 40.64%, 14.00% 32.88%, 15.00% 25.20%, 16.00% 18.36%, 17.00% 13.02%, 18.00% 9.72%, 19.00% 8.77%, 20.00% 10.26%, 21.00% 14.05%, 22.00% 19.77%, 23.00% 26.86%, 24.00% 34.62%, 25.00% 42.30%, 26.00% 49.14%, 27.00% 54.48%, 28.00% 57.78%, 29.00% 58.73%, 30.00% 57.24%, 31.00% 53.45%, 32.00% 47.73%, 33.00% 40.64%, 34.00% 32.88%, 35.00% 25.20%, 36.00% 18.36%, 37.00% 13.02%, 38.00% 9.72%, 39.00% 8.77%, 40.00% 10.26%, 41.00% 14.05%, 42.00% 19.77%, 43.00% 26.86%, 44.00% 34.62%, 45.00% 42.30%, 46.00% 49.14%, 47.00% 54.48%, 48.00% 57.78%, 49.00% 58.73%, 50.00% 57.24%, 51.00% 53.45%, 52.00% 47.73%, 53.00% 40.64%, 54.00% 32.88%, 55.00% 25.20%, 56.00% 18.36%, 57.00% 13.02%, 58.00% 9.72%, 59.00% 8.77%, 60.00% 10.26%, 61.00% 14.05%, 62.00% 19.77%, 63.00% 26.86%, 64.00% 34.62%, 65.00% 42.30%, 66.00% 49.14%, 67.00% 54.48%, 68.00% 57.78%, 69.00% 58.73%, 70.00% 57.24%, 71.00% 53.45%, 72.00% 47.73%, 73.00% 40.64%, 74.00% 32.88%, 75.00% 25.20%, 76.00% 18.36%, 77.00% 13.02%, 78.00% 9.72%, 79.00% 8.77%, 80.00% 10.26%, 81.00% 14.05%, 82.00% 19.77%, 83.00% 26.86%, 84.00% 34.62%, 85.00% 42.30%, 86.00% 49.14%, 87.00% 54.48%, 88.00% 57.78%, 89.00% 58.73%, 90.00% 57.24%, 91.00% 53.45%, 92.00% 47.73%, 93.00% 40.64%, 94.00% 32.88%, 95.00% 25.20%, 96.00% 18.36%, 97.00% 13.02%, 98.00% 9.72%, 99.00% 8.77%, 100.00% 10.26%);
  animation: wave 3s linear infinite;
}
.intro__wave-two {
  position: absolute; 
  left: -100px;
  top: 0;
  width: 3500px;
  height: 15vh; 
  background: rgba(255, 255, 255, 0.3);
  clip-path: polygon(100% 100%, 0% 100% , 0.00% 10.26%, 1.00% 14.05%, 2.00% 19.77%, 3.00% 26.86%, 4.00% 34.62%, 5.00% 42.30%, 6.00% 49.14%, 7.00% 54.48%, 8.00% 57.78%, 9.00% 58.73%, 10.00% 57.24%, 11.00% 53.45%, 12.00% 47.73%, 13.00% 40.64%, 14.00% 32.88%, 15.00% 25.20%, 16.00% 18.36%, 17.00% 13.02%, 18.00% 9.72%, 19.00% 8.77%, 20.00% 10.26%, 21.00% 14.05%, 22.00% 19.77%, 23.00% 26.86%, 24.00% 34.62%, 25.00% 42.30%, 26.00% 49.14%, 27.00% 54.48%, 28.00% 57.78%, 29.00% 58.73%, 30.00% 57.24%, 31.00% 53.45%, 32.00% 47.73%, 33.00% 40.64%, 34.00% 32.88%, 35.00% 25.20%, 36.00% 18.36%, 37.00% 13.02%, 38.00% 9.72%, 39.00% 8.77%, 40.00% 10.26%, 41.00% 14.05%, 42.00% 19.77%, 43.00% 26.86%, 44.00% 34.62%, 45.00% 42.30%, 46.00% 49.14%, 47.00% 54.48%, 48.00% 57.78%, 49.00% 58.73%, 50.00% 57.24%, 51.00% 53.45%, 52.00% 47.73%, 53.00% 40.64%, 54.00% 32.88%, 55.00% 25.20%, 56.00% 18.36%, 57.00% 13.02%, 58.00% 9.72%, 59.00% 8.77%, 60.00% 10.26%, 61.00% 14.05%, 62.00% 19.77%, 63.00% 26.86%, 64.00% 34.62%, 65.00% 42.30%, 66.00% 49.14%, 67.00% 54.48%, 68.00% 57.78%, 69.00% 58.73%, 70.00% 57.24%, 71.00% 53.45%, 72.00% 47.73%, 73.00% 40.64%, 74.00% 32.88%, 75.00% 25.20%, 76.00% 18.36%, 77.00% 13.02%, 78.00% 9.72%, 79.00% 8.77%, 80.00% 10.26%, 81.00% 14.05%, 82.00% 19.77%, 83.00% 26.86%, 84.00% 34.62%, 85.00% 42.30%, 86.00% 49.14%, 87.00% 54.48%, 88.00% 57.78%, 89.00% 58.73%, 90.00% 57.24%, 91.00% 53.45%, 92.00% 47.73%, 93.00% 40.64%, 94.00% 32.88%, 95.00% 25.20%, 96.00% 18.36%, 97.00% 13.02%, 98.00% 9.72%, 99.00% 8.77%, 100.00% 10.26%);
  animation: wave 4s linear infinite;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1400px;
  }
}

.intro__title {
  display: inline-flex;
  gap:0.32em;
  font-family: var(--font-code);
  font-size: 2.8em;
  font-weight: bold;
  color: white;
  margin-top: 172px;
}

@media (max-width:768px) {
  .intro {
    height: 50vh;
    font-size: 0.8em;
  }
  .intro__title {
    flex-direction: column;
  }
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1400px;
    }
  }  
}

@media (min-width:769px) {
  .intro {
    height: 500px;
  }
}
