@import url('../css/intro.css');
@import url('../css/header.css');
@import url('../css/info.css');
@import url('../css/footer.css');
@import url('../css/main.css');
@import url('../css/history.css');
@import url('../css/tech.css');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

/* 변수 */
:root {
  --color-main: #000000;
  --color-blue: #4154c0;
  --color-text: #cca178;
  --color-sub: rgba(255, 255, 255, 0.8);
  --color-gray: #333;
  --color-area: rgba(255, 255, 255, 0.1);

  --font-code: 'Nanum Gothic Coding', 'monospace';

  --font-size-title: 44px;
  --font-size-subtitle: 32px;
  --font-size-tag: 26px;
  --font-size-larger: 20px;
  --font-size-text: 18px;

  --height-toolbar: 72px;  
}

body {
  margin:0;
  min-height: 250vh;
  background-color: var(--color-gray);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

th {
  font-size: var(--font-size-tag);
  padding: 10px;
}

td {
  font-size: var(--font-size-larger);
  border-bottom: 1px solid lightgray;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html {
  /* 세로 스크롤 overlay 처리 */
  overflow-y: overlay;

  /* 스크롤바의 box-shadow 색상값을 지정 */
  color: #333;
  transition: all 0.4s ease; /* 부드러운 애니메이션 */
}

html::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 10px;
  border: 3px solid transparent;
  /* box-shadow 색상은 지정 안했을 경우 기본적으로 color 값을 따라감 */
  box-shadow: inset 6px 6px 0; 
}

html::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

html::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}